<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;examine_balloon - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/examine_balloon.html#var">Var Details</a></header>
<main>
<h1>examine_balloon <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/examine_balloon.html">examine_balloon</a></aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 2"/></a></h1>

<p>Adds clickable balloons whenever someone holds the examine key (is it still shift in the future?)</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/draw_in_dirs">draw_in_dirs</a></th><td>Add a hologram when we're in these directions</td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/hologram_alpha">hologram_alpha</a></th><td>The alpha we apply to the hologram</td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/pixel_y_offset">pixel_y_offset</a></th><td>Offset applied on the hologram</td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/pixel_y_offset_arrow">pixel_y_offset_arrow</a></th><td>Offset applied on the bubble</td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/previous_overlays">previous_overlays</a></th><td>Store the overlays applied in the previous turn and clean them up (because of how managed_overlays checks for changes we need to do this manually)</td></tr>
            <tr><th><a href="datum/component/examine_balloon.html#var/size_upscaling">size_upscaling</a></th><td>Our x and y size is multiplied by this, for small sprites like buttons</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/draw_in_dirs"><aside class="declaration">var </aside>draw_in_dirs
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 15"/></a></h3>
        <p>Add a hologram when we're in these directions</p><h3 id="var/hologram_alpha"><aside class="declaration">var </aside>hologram_alpha
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L13">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 13"/></a></h3>
        <p>The alpha we apply to the hologram</p><h3 id="var/pixel_y_offset"><aside class="declaration">var </aside>pixel_y_offset
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 6"/></a></h3>
        <p>Offset applied on the hologram</p><h3 id="var/pixel_y_offset_arrow"><aside class="declaration">var </aside>pixel_y_offset_arrow
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L11">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 11"/></a></h3>
        <p>Offset applied on the bubble</p><h3 id="var/previous_overlays"><aside class="declaration">var </aside>previous_overlays
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 4"/></a></h3>
        <p>Store the overlays applied in the previous turn and clean them up (because of how managed_overlays checks for changes we need to do this manually)</p><h3 id="var/size_upscaling"><aside class="declaration">var </aside>size_upscaling
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/wall-nerds/wallening/blob/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5/code/datums/components/examine_balloon.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;examine_balloon.dm 8"/></a></h3>
        <p>Our x and y size is multiplied by this, for small sprites like buttons</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/wall-nerds/wallening/tree/cff5df2e3d45a18afe5619a8c130e1ba50ab4ef5">cff5df2</a>
        (stable) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
